body {
}
h1 {
}
font-family: Calibri, "Segoe UI", Arial, sans-serif;
text-align: center;
.content {
margin: 0 auto;
width: 800px;
text-align: center;
  
  .content {
}
margin: 0 auto;
width: 800px;
text-align: center;
.clickable {
}
cursor: hand;
}
